$c-gray-900: #101010;
$c-gray-850: #0b0b0b;
$c-gray-650: #4d565d;
$c-gray-200: #a5a5a5;
$c-gray-50: #dddddd;

$c-red: #cc0000;

$c-yellow-500: #fecc09;
$c-yellow-150: #ffc800;
$c-yellow: #ffcb00;

$c-black: #000000;
$c-white: #ffffff;
