@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm-screen {
    @media only screen and(min-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == md-sm-screen {
    @media only screen and(min-width: 707px) {
      @content;
    }
  }
  @if $breakpoint == md-lg-screen {
    @media only screen and(min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == lg-screen {
    @media only screen and(min-width: 992px) {
      @content;
    }
  }
}

@mixin hero-section-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

@mixin hero-heading {
  font: 3rem/36px $f-bold;
  color: $c-white;
  text-align: center;
}

@mixin hero-description {
  font: 1.6rem/30px $f-light;
  color: $c-gray-100;
  margin-top: 15px;
  text-align: center;
}

@mixin hero-container {
  padding: 150px 30px 50px;
}

@mixin service-container {
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
}

@mixin service-arrow-right {
  background-image: url('../images/arrow-right-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 19px;
}

@mixin w-container {
  padding: 50px 30px;

  @include breakpoint(sm-screen) {
    padding: 75px 30px;
  }

  @include breakpoint(lg-screen) {
    padding: 100px 30px;
  }
}
