$f-bold: 'Gilroy Bold', sans-serif;
$f-semibold: 'Gilroy Semibold', sans-serif;
$f-semibold-it: 'Gilroy Semibold Italic', sans-serif;
$f-regular: 'Gilroy Regular', sans-serif;
$f-light: 'Gilroy Light', sans-serif;

@font-face {
  font-family: 'Gilroy Bold';
  src: url('../fonts/gilroy-bold-webfont.eot');
  src: url('../fonts/gilroy-bold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-bold-webfont.woff') format('woff'),
    url('../fonts/gilroy-bold-webfont.ttf') format('truetype'),
    url('../fonts/gilroy-bold-webfont.svg#gilroy-bolduploaded_file')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('../fonts/gilroy-light-webfont.eot');
  src: url('../fonts/gilroy-light-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-light-webfont.woff') format('woff'),
    url('../fonts/gilroy-light-webfont.ttf') format('truetype'),
    url('../fonts/gilroy-light-webfont.svg#gilroy-lightuploaded_file')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('../fonts/gilroy-regular-webfont.eot');
  src: url('../fonts/gilroy-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-regular-webfont.woff') format('woff'),
    url('../fonts/gilroy-regular-webfont.ttf') format('truetype'),
    url('../fonts/gilroy-regular-webfont.svg#gilroy-regularuploaded_file')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Semibold';
  src: url('../fonts/gilroy-semibold-webfont.eot');
  src: url('../fonts/gilroy-semibold-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-semibold-webfont.woff') format('woff'),
    url('../fonts/gilroy-semibold-webfont.ttf') format('truetype'),
    url('../fonts/gilroy-semibold-webfont.svg#gilroy-semibolduploaded_file')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Semibold Italic';
  src: url('../fonts/gilroy-semibolditalic-webfont.eot');
  src: url('../fonts/gilroy-semibolditalic-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff'),
    url('../fonts/gilroy-semibolditalic-webfont.ttf') format('truetype'),
    url('../fonts/gilroy-semibolditalic-webfont.svg#gilroy-semiboldituploadedfile')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
