@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.breadcrumb-section {
  display: none;

  @include breakpoint(lg-screen) {
    display: block;
    text-align: center;
    margin: 50px 0;
  }

  li {
    display: inline-block;
  }

  a {
    font: 1.5rem/20px $f-semibold;
    color: $c-yellow-500;
    padding: 0 10px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  li + li::before {
    content: '\00a0/\00a0';
    font: 1.5rem/20px $f-semibold;
    color: $c-yellow-500;
  }

  li:last-child {
    display: none;
  }

  .active {
    display: inline-block;
    color: $c-white;

    li:last-child {
      display: inline-block;
    }
  }
}
