@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.breadcrumb-section {
  display: none;

  @include breakpoint(lg-screen) {
    display: block;
    text-align: center;
    margin: 50px 0;
  }

  li {
    display: inline-block;
  }

  a {
    font: 1.5rem/20px $f-semibold;
    color: $c-yellow-500;
    display: inline-block;
    text-transform: uppercase;
  }

  .active {
    display: inline-block;
    color: $c-white;

    &::before {
      content: '\00A0\00A0/\00A0\00A0';
      font: 1.5rem/20px $f-semibold;
      color: $c-white;
    }
  }
}
