@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.button-1 {
  font: 1rem/2rem $f-semibold;
  color: $c-yellow-500;
  background-color: transparent;
  border: 2px solid $c-yellow-500;
  width: 75px;
  display: inline-block;
  text-align: center;
  border-radius: 225px;

  &:hover {
    text-decoration: underline;
  }

  @include breakpoint(sm-screen) {
    width: 120px;
    font: 1.4rem/3rem $f-semibold;
  }

  @include breakpoint(md-lg-screen) {
    width: 100px;
    line-height: 3.5rem;
  }
}
