@import '_colors.scss';
@import '_typography.scss';

.button-2 {
  font-family: $f-semibold;
  font-size: 1rem;
  line-height: 2rem;
  color: $c-yellow-500;
  background-color: transparent;
  border: 2px solid $c-yellow-500;
  padding: 0.8rem 1.5rem;
  display: inline-block;
  text-align: center;
  border-radius: 225px;

  &:hover {
    text-decoration: underline;
  }
}
