@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.case-study-wrapper {
  section:first-child {
    background-color: $c-gray-850;
    @include hero-section-bg;

    .w-container {
      @include hero-container;

      @include breakpoint(sm-screen) {
        padding: 175px 16% 75px;
      }

      @include breakpoint(md-lg-screen) {
        padding: 220px 30px 150px;
      }
    }

    .hero-section {
      .white-circle,
      .white-tile-horizontal,
      .white-tile-vertical {
        display: none;

        @include breakpoint(lg-screen) {
          display: block;
          position: absolute;
        }
      }

      .white-circle {
        width: 207px;
        top: 100px;
        right: 55px;
      }

      .white-tile-horizontal {
        width: 200px;
        top: 520px;
        right: 55px;
      }

      .white-tile-vertical {
        width: 62px;
        top: 450px;
        left: 55px;
      }

      .heading {
        @include hero-heading;

        @include breakpoint(sm-screen) {
          font: 4.8rem/50px $f-bold;
        }

        @include breakpoint(md-lg-screen) {
          font: 6rem/65px $f-bold;
          width: 546px;
          margin: 0 auto;
        }

        @include breakpoint(lg-screen) {
          width: 705px;
        }
      }

      .description {
        @include hero-description;

        @include breakpoint(md-lg-screen) {
          width: 450px;
          margin: 15px auto 0;
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: $c-white;

    @include w-container;

    .case-study-details {
      text-align: center;

      .sub-title {
        display: none;

        @include breakpoint(lg-screen) {
          display: block;
          font: 1.6rem/28px $f-bold;
          color: $c-black;
        }
      }

      .title {
        font: 2.8rem/32px $f-bold;
        color: $c-black;

        @include breakpoint(sm-screen) {
          font: 4.2rem/46px $f-bold;
        }

        @include breakpoint(lg-screen) {
          margin-top: 10px;
        }
      }

      .description {
        font: 1.6rem/30px $f-light;
        color: $c-gray-200;
        margin-top: 30px;

        @include breakpoint(md-lg-screen) {
          width: 708px;
          margin: 30px auto 0;
        }

        @include breakpoint(lg-screen) {
          width: 740px;
          margin: 40px auto 0;
        }
      }
    }
  }
}
