@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.stripe-tile-background {
  background-color: $c-gray-850;
  background-image: linear-gradient(180deg, #0b0b0b, transparent 100%),
    linear-gradient(rgba(11, 11, 11, 0.5)), url('../images/stripe-tile.png');

  background-position: center center;
  background-size: 100px;
  background-repeat: repeat;

  .w-container {
    padding: 75px 30px;

    @include breakpoint(sm-screen) {
      padding: 75px 18%;
    }

    @include breakpoint(md-lg-screen) {
      padding: 75px 30px;
    }

    @include breakpoint(lg-screen) {
      padding: 120px 30px;
    }
  }

  .get-in-touch {
    text-align: center;

    @include breakpoint(md-lg-screen) {
      display: grid;
      grid-template-columns: 341px 344px;
      grid-column-gap: 25px;
      justify-content: center;
      align-items: center;
    }

    @include breakpoint(lg-screen) {
      grid-template-columns: 440px 425px;
      grid-column-gap: 68px;
    }

    .title,
    .get-in-touch-link {
      font: 2.6rem/32px $f-bold;

      @include breakpoint(sm-screen) {
        font: 2.8rem/34px $f-bold;
      }

      @include breakpoint(md-lg-screen) {
        font: 4rem/50px $f-bold;
        text-align: left;
      }
    }

    .title {
      color: $c-white;
    }

    .get-in-touch-link {
      color: $c-yellow-500;
      text-decoration: underline;

      @include breakpoint(md-lg-screen) {
        float: left;
      }
    }

    .description {
      font: 1.6rem/27px $f-light;
      color: $c-gray-200;
      margin-top: 3rem;

      @include breakpoint(md-lg-screen) {
        text-align: left;
        margin-top: 0rem;
      }
    }
  }
}
