@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

$aos-distance: 20px;
@import 'node_modules/aos/src/sass/aos.scss';

.home-wrapper {
  section:first-child {
    background-color: rgba(11, 11, 11, 0.33);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        transparent 50%
      ),
      linear-gradient(to top, #0b0b0b 1%, rgba(32, 32, 32, 0.14) 98%),
      url('../images/waveless-strategy.jpg');
    @include hero-section-bg;

    .w-container {
      @include hero-container;

      @include breakpoint(sm-screen) {
        padding: 200px 16% 75px;
      }

      @include breakpoint(md-lg-screen) {
        padding: 270px 30px 90px;
      }
    }

    .hero-section {
      .heading {
        @include hero-heading;

        @include breakpoint(sm-screen) {
          font: 4rem/50px $f-bold;
        }

        @include breakpoint(md-lg-screen) {
          font: 6.8rem/78px $f-bold;
          width: 708px;
          letter-spacing: 2px;
          margin: 0 auto;
        }

        @include breakpoint(lg-screen) {
          width: 932px;
        }
      }

      .description {
        @include hero-description;

        @include breakpoint(md-lg-screen) {
          width: 546px;
          margin: 15px auto 0;
        }

        @include breakpoint(lg-screen) {
          width: 705px;
        }
      }

      .arrow-down-yellow {
        display: none;

        @include breakpoint(md-lg-screen) {
          display: block;
          width: 14px;
          margin: 40px auto 0;
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: $c-gray-850;

    .w-container {
      @include service-container;

      @include breakpoint(md-lg-screen) {
        grid-template-columns: 1fr 40px;
        grid-template-rows: 249px;
        align-items: flex-end;
        padding: 0;
        z-index: 2;
      }

      @include breakpoint(lg-screen) {
        grid-template-rows: 330px;
      }
    }

    .main-section {
      @include breakpoint(md-sm-screen) {
        display: grid;
        justify-content: center;
        padding: 0 30px;
      }

      .title {
        display: none;

        @include breakpoint(md-lg-screen) {
          display: block;
          font: 1.6rem/28px $f-bold;
          color: $c-yellow;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
      }

      .services-overviews {
        background-color: $c-yellow;

        @include breakpoint(md-sm-screen) {
          width: 707px;
        }

        @include breakpoint(md-lg-screen) {
          width: 100%;
          padding: 0;
        }
      }

      /* shared properties in services-overviews */
      %shared-margin {
        margin-top: 5px;

        @include breakpoint(md-lg-screen) {
          margin-top: 0;
        }
      }

      %shared-circle-width {
        width: 207px;
      }

      %shared-display {
        display: none;

        @include breakpoint(md-lg-screen) {
          display: block;
          position: absolute;
          z-index: -1;
        }
      }

      %shared-sub-title {
        font: 1.6rem/32px $f-bold;
        color: $c-gray-850;
        padding: 25px 0 25px 30px;

        @include breakpoint(md-lg-screen) {
          padding: 0 0 15px 30px;
        }

        @include breakpoint(lg-screen) {
          font: 2.6rem/32px $f-bold;
          padding-bottom: 20px;
        }
      }

      /* sevices-overviews */
      .row-1 {
        @include breakpoint(md-lg-screen) {
          display: grid;
          grid-template-columns: 458px 239px;
          grid-column-gap: 10px;
          grid-template-rows: 249px;
          justify-content: center;
        }

        @include breakpoint(lg-screen) {
          grid-template-columns: 624px 304px;
          grid-template-rows: 330px;
        }

        .plant-hire {
          overflow: hidden;

          @include breakpoint(md-lg-screen) {
            background-color: transparent;
            background-image: linear-gradient(135deg, #101010, #1b1b1b 100%);
          }

          .sub-title {
            @extend %shared-sub-title;

            @include breakpoint(md-lg-screen) {
              color: $c-yellow;
            }
          }

          .arrow-right {
            @include service-arrow-right;

            @include breakpoint(md-lg-screen) {
              background-image: url('../images/arrow-right-yellow.png');
              margin: 0 30px 23px 0;
            }

            @include breakpoint(lg-screen) {
              margin-bottom: 27px;
            }
          }

          .white-circle,
          .white-tile-vertical {
            @extend %shared-display;
          }

          .white-circle {
            @extend %shared-circle-width;
            top: -105px;
            left: 100px;
          }

          .white-tile-vertical {
            width: 62px;
            right: 110px;
            bottom: -85px;

            @include breakpoint(lg-screen) {
              right: 140px;
              bottom: 0;
            }
          }
        }

        .working-platforms {
          @extend %shared-margin;
          overflow: hidden;

          @include breakpoint(md-lg-screen) {
          }

          .sub-title {
            @extend %shared-sub-title;
          }

          .arrow-right {
            @include service-arrow-right;

            @include breakpoint(md-lg-screen) {
              margin: 0 30px 23px 0;
            }

            @include breakpoint(lg-screen) {
              margin-bottom: 25px;
            }
          }

          .scissor-lift {
            @extend %shared-display;
            width: 292px;
            right: -15px;
            bottom: 40px;

            @include breakpoint(lg-screen) {
              width: 360px;
              right: -5px;
              bottom: 60px;
            }
          }
        }
      }

      .row-2 {
        @include breakpoint(md-lg-screen) {
          display: grid;
          grid-template-columns: 239px 458px;
          grid-column-gap: 10px;
          grid-template-rows: 249px;
          justify-content: center;
          margin-top: 10px;
        }

        @include breakpoint(lg-screen) {
          grid-template-columns: 304px 624px;
          grid-template-rows: 330px;
        }

        .specialities {
          @extend %shared-margin;
          overflow: hidden;

          .sub-title {
            @extend %shared-sub-title;
          }

          .arrow-right {
            @include service-arrow-right;

            @include breakpoint(md-lg-screen) {
              margin: 0 30px 23px 0;
            }

            @include breakpoint(lg-screen) {
              margin-bottom: 25px;
            }
          }

          .forklift {
            @extend %shared-display;
            height: 160px;
            right: 0;
            bottom: 50px;

            @include breakpoint(lg-screen) {
              height: 210px;
              bottom: 75px;
            }
          }
        }

        .tool-hire {
          @extend %shared-margin;
          overflow: hidden;

          @include breakpoint(md-lg-screen) {
            background-color: transparent;
            background-image: linear-gradient(135deg, #101010, #1b1b1b 100%);
          }

          .sub-title {
            @extend %shared-sub-title;

            @include breakpoint(md-lg-screen) {
              color: $c-yellow;
            }
          }

          .arrow-right {
            @include service-arrow-right;

            @include breakpoint(md-lg-screen) {
              background-image: url('../images/arrow-right-yellow.png');
              margin: 0 30px 23px 0;
            }

            @include breakpoint(lg-screen) {
              margin-bottom: 27px;
            }
          }

          .white-circle,
          .white-tile-horizontal {
            @extend %shared-display;
          }

          .white-circle {
            @extend %shared-circle-width;
            bottom: -105px;
            right: 110px;

            @include breakpoint(lg-screen) {
              right: 220px;
            }
          }

          .white-tile-horizontal {
            width: 200px;
            top: 45px;
            right: -73px;

            @include breakpoint(lg-screen) {
              top: 80px;
              right: 60px;
            }
          }
        }
      }
    }
  }

  section:nth-child(4) {
    background-color: $c-white;

    .w-container {
      padding: 75px 30px;

      @include breakpoint(sm-screen) {
        padding: 75px 30px 0;
      }

      @include breakpoint(lg-screen) {
        padding: 100px 30px 0;
      }
    }

    .account-managers-section {
      text-align: center;

      @include breakpoint(md-lg-screen) {
        display: grid;
        grid-template-columns: 199px 199px 199px;
        grid-template-areas:
          'sub-heading sub-heading sub-heading'
          'heading heading heading'
          'problem solution delivery'
          'account-managers account-managers account-managers';
        grid-column-gap: 55px;
        justify-content: center;
        text-align: left;
      }

      @include breakpoint(lg-screen) {
        grid-template-columns: 290px 290px 290px;
        grid-column-gap: 30px;
      }

      .sub-heading {
        display: none;

        @include breakpoint(lg-screen) {
          display: block;
          grid-area: sub-heading;
          font: 1.6rem/28px $f-bold;
          text-transform: uppercase;
          color: $c-black;
          text-align: center;
        }
      }

      .heading {
        font: 2.8rem/32px $f-bold;
        color: $c-black;

        @include breakpoint(sm-screen) {
          font: 4.2rem/46px $f-bold;
        }

        @include breakpoint(md-lg-screen) {
          grid-area: heading;
          text-align: center;
        }

        @include breakpoint(lg-screen) {
          margin-top: 25px;
        }
      }

      .problem {
        @include breakpoint(md-lg-screen) {
          grid-area: problem;
        }
      }

      .solution {
        @include breakpoint(md-lg-screen) {
          grid-area: solution;
        }
      }

      .delivery {
        @include breakpoint(md-lg-screen) {
          grid-area: delivery;
        }
      }

      .dedicated-am {
        margin-top: 45px;

        @include breakpoint(sm-screen) {
          margin-top: 60px;
          padding: 0 70px;
        }

        @include breakpoint(md-lg-screen) {
          padding: 0;
        }

        .w-title {
          @include breakpoint(md-lg-screen) {
            display: grid;
            grid-template-columns: 28px 1fr;
            grid-column-gap: 20px;
            align-items: center;
          }

          .title {
            font: 2.6rem/32px $f-bold;
            color: $c-black;
            margin-top: 10px;

            @include breakpoint(md-lg-screen) {
              margin-top: 0;
            }
          }

          .am-one,
          .am-three {
            width: 28px;
          }

          .am-two {
            width: 19px;
          }
        }

        .description {
          font: 1.6rem/30px $f-light;
          color: $c-gray-200;
          margin-top: 10px;

          @include breakpoint(md-lg-screen) {
            margin-top: 20px;
          }
        }
      }

      .account-managers {
        display: none;

        @include breakpoint(sm-screen) {
          display: block;
          width: 100%;
          margin-top: 60px;
        }

        @include breakpoint(md-lg-screen) {
          grid-area: account-managers;
        }
      }
    }
  }
}
