@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.nav {
  position: absolute;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6),
    transparent 99%
  );

  @include breakpoint(md-lg-screen) {
    display: grid;
    grid-template-columns: 384px 384px;
    justify-content: center;
  }

  @include breakpoint(lg-screen) {
    display: block;
  }

  .w-container {
    padding: 30px 30px;
  }

  .nav-menu {
    @include breakpoint(lg-screen) {
      display: grid;
      grid-template-columns: 290px 700px;
      justify-content: center;
    }

    .phd-logo {
      width: 75px;

      @include breakpoint(sm-screen) {
        width: 100px;
      }

      @include breakpoint(md-lg-screen) {
        width: 150px;
      }

      @include breakpoint(lg-screen) {
        width: 200px;
      }
    }
  }

  .nav-overlay {
    background-color: $c-yellow-500;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    overflow: auto;
    width: 100%;
    transition: 350ms ease;
    transform: translate3d(100%, 0, 0);
    padding: 30px 20px;
    text-align: right;

    &.show-overlay {
      transform: translate3d(0, 0, 0);
    }

    &.transition-disabled {
      transition: none;
    }

    @include breakpoint(lg-screen) {
      transform: translate3d(0, 0, 0);
      background-color: transparent;
      position: relative;
      margin: 0;
      width: 700px;
      padding: 30px 30px 30px 0;
      z-index: 0;
    }

    .w-nav-overlay {
      @include breakpoint(md-lg-screen) {
        display: grid;
        grid-template-columns: 728px;
        justify-content: center;
      }

      @include breakpoint(lg-screen) {
        grid-template-columns: 82px 105px 80px 62px 64px 140px;
        grid-column-gap: 25px;
        justify-content: flex-end;
      }
    }

    .dropdown-toggle {
      cursor: pointer;
      user-select: none;

      .dropdown-menu {
        display: grid;
        grid-template-columns: 78px 10px;
        align-items: center;

        @include breakpoint(sm-screen) {
          grid-template-columns: 108px 12px;
        }

        @include breakpoint(lg-screen) {
          grid-template-columns: 70px 10px;
        }

        .arrow-down-black {
          background-image: url('../images/arrow-down-black.png');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 10px;
          height: 7px;

          @include breakpoint(sm-screen) {
            width: 12px;
            height: 8px;
            margin-top: 4px;
          }

          @include breakpoint(lg-screen) {
            background-image: url('../images/arrow-down-white.png');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            width: 10px;
            height: 7px;
            margin-top: 0;
            opacity: 0.7;
          }
        }
      }

      .dropdown-link {
        display: none;
        margin-top: 10px;

        li {
          padding: 5px 0;

          @include breakpoint(sm-screen) {
            padding: 8px 0;
          }

          @include breakpoint(lg-screen) {
            width: 130px;
          }

          a {
            font-size: 1.2rem;

            &.active-link {
              color: $c-white;
            }

            &:hover {
              @include breakpoint(lg-screen) {
                opacity: 0.7;
                transition: none;
              }
            }

            @include breakpoint(sm-screen) {
              font-size: 1.6rem;
            }

            @include breakpoint(lg-screen) {
              font-size: 1.3rem;
              color: $c-yellow;
              opacity: 1;
            }
          }
        }
      }

      &.show-dropdown-link {
        .dropdown-link {
          display: block;

          @include breakpoint(lg-screen) {
            position: absolute;
          }
        }
      }
    }

    .close-btn-black {
      width: 25px;
      margin-bottom: 20px;
      margin-right: 8px;
      cursor: pointer;
      user-select: none;

      @include breakpoint(sm-screen) {
        width: 32px;
      }

      @include breakpoint(md-lg-screen) {
        margin-left: auto;
        position: relative;
      }

      @include breakpoint(lg-screen) {
        display: none;
      }
    }

    li {
      list-style: none;
      padding: 14px 0;
      text-align: left;

      a,
      p {
        font: 1.7rem/20px $f-semibold;
        letter-spacing: 1px;
        color: $c-black;
        display: block;
        user-select: none;

        @include breakpoint(sm-screen) {
          font: 2.4rem/30px $f-semibold;
        }

        @include breakpoint(lg-screen) {
          font: 1.5rem/20px $f-semibold;
          color: $c-white;
          opacity: 0.7;
        }
      }

      a.active-link {
        color: $c-white;
      }

      @include breakpoint(sm-screen) {
        padding: 20px 0;
      }

      @include breakpoint(lg-screen) {
        padding: 0;

        &:hover {
          a,
          p,
          .dropdown-menu .arrow-down-black {
            opacity: 1;
            transition: 450ms ease;
          }
        }
      }
    }

    .request-callback-link {
      cursor: pointer;

      @include breakpoint(lg-screen) {
        color: $c-yellow;
        opacity: 1;
      }
    }
  }

  .menu-section {
    @include breakpoint(md-lg-screen) {
      display: grid;
      grid-template-columns: 100px 30px;
      justify-content: flex-end;
      grid-column-gap: 30px;
      padding: 30px 30px;
    }

    @include breakpoint(lg-screen) {
      display: none;
    }

    .menu-btn {
      position: absolute;
      top: 35px;
      right: 30px;
      width: 20px;
      cursor: pointer;

      @include breakpoint(sm-screen) {
        width: 30px;
      }

      @include breakpoint(md-lg-screen) {
        position: relative;
        top: 5px;
        right: 0;
      }
    }

    .call-btn {
      position: absolute;
      top: 30px;
      right: 70px;

      @include breakpoint(sm-screen) {
        right: 90px;
      }

      @include breakpoint(md-lg-screen) {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  background-color: $c-black;
  border: none;
  padding: 30px 30px;
  width: 90%;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.5);

  &:focus {
    outline: none;
  }

  @include breakpoint(sm-screen) {
    width: 75%;
  }

  .close-modal-btn {
    width: 20px;
    float: right;
    cursor: pointer;

    @include breakpoint(sm-screen) {
      width: 25px;
    }
  }

  @include breakpoint(lg-screen) {
    width: 496px;
  }

  .callback-form {
    .callback-heading {
      font: 2.8rem/33px $f-bold;
      color: $c-white;
      text-align: center;
      margin-top: 40px;

      @include breakpoint(sm-screen) {
        font: 4.2rem/47px $f-bold;
      }
    }

    %message-shared {
      font: 1.6rem/25px $f-regular;
    }

    .callback-description {
      @extend %message-shared;
      color: $c-gray-200;
      text-align: center;
      margin-top: 10px;
    }

    label {
      @extend %message-shared;
      color: $c-white;
      display: block;
    }

    .full-name-field,
    .number-field {
      padding: 8px 12px;
      width: 100%;
      margin-top: 5px;
      border: 1px solid transparent;
      font: 1.6rem/20px $f-regular;

      &:focus {
        outline: none;
      }
    }

    .w-full-name,
    .w-phone-number {
      margin-top: 20px;

      @include breakpoint(sm-screen) {
        margin-top: 40px;
      }
    }

    .submit-form-btn {
      background-color: transparent;
      border: 2px solid $c-yellow;
      border-radius: 25px;
      font: 1.4rem/2rem $f-semibold;
      color: $c-yellow;
      letter-spacing: 1px;
      padding: 9px 15px;
      width: 200px;
      display: block;
      margin: 30px auto 0;
      cursor: pointer;
    }

    .full-name-field.err,
    .number-field.err {
      border: 1px solid $c-red;
    }

    .err-msg {
      font: 1.4rem $f-regular;
      margin-top: 10px;
      color: $c-red;
    }

    .success-msg {
      background-color: $c-gray-50;
      padding: 20px;
      display: none;
      margin-top: 4rem;

      p {
        font: 1.6rem/20px $f-regular;
        color: $c-black;
        text-align: center;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(11, 11, 11, 0.75);
  opacity: 0;
  transition: opacity 350ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.scroll-disabled {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
