@import '_colors.scss';
@import '_typography.scss';

.nav {
  position: absolute;
  width: 100%;

  .w-container {
    padding: 3rem 3rem;
  }

  .nav-menu {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6),
      transparent 99%
    );

    .phd-logo {
      width: 75px;
    }
  }

  .nav-overlay {
    background-color: $c-yellow-500;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    overflow: auto;
    width: 100%;
    transition: 350ms ease;
    transform: translate3d(100%, 0, 0);
    padding: 3rem 2rem;
    text-align: right;

    &.show-overlay {
      transform: translate3d(0, 0, 0);
    }

    .dropdown-toggle {
      cursor: pointer;
      user-select: none;

      .dropdown-menu {
        display: grid;
        grid-template-columns: 90px 10px;
        align-items: center;

        .arrow-down-black {
          width: 10px;
        }
      }

      .dropdown-link {
        display: none;
        margin-top: 1rem;

        li {
          padding: 0.5rem 0;
          a {
            font-size: 1.2rem;

            &.active-link {
              color: $c-white;
            }
          }
        }
      }

      &.show-dropdown-link {
        .dropdown-link {
          display: block;
        }
      }
    }

    .close-btn {
      width: 25px;
      filter: invert(1);
      margin-bottom: 2rem;
      margin-right: 0.8rem;
      cursor: pointer;
    }

    li {
      list-style: none;
      padding: 1.4rem 0;
      text-align: left;

      a,
      p {
        font: 1.7rem/2rem $f-semibold;
        letter-spacing: 1px;
        color: $c-black;
        display: block;
        user-select: none;
      }

      a.active-link {
        color: $c-white;
      }
    }

    .request-callback-link {
      cursor: pointer;
    }
  }

  .menu-btn {
    position: absolute;
    top: 3.5rem;
    right: 3rem;
    width: 20px;
    cursor: pointer;
  }

  .call-btn {
    position: absolute;
    top: 3rem;
    right: 7rem;
  }
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  background-color: $c-black;
  border: none;
  padding: 3rem 3rem;
  width: 90%;

  &:focus {
    outline: none;
  }

  .close-modal-btn {
    width: 20px;
    float: right;
    cursor: pointer;
  }

  .callback-form {
    .callback-heading {
      font: 2.8rem/3.3rem $f-bold;
      color: $c-white;
      text-align: center;
      margin-top: 4rem;
    }

    %message-shared {
      font: 1.6rem/2.5rem $f-regular;
    }

    .callback-description {
      @extend %message-shared;
      color: $c-gray-200;
      text-align: center;
      margin-top: 1rem;
    }

    label {
      @extend %message-shared;
      color: $c-white;
      display: block;
    }

    .full-name-field,
    .number-field {
      padding: 0.8rem 1.2rem;
      width: 100%;
      margin-top: 0.5rem;
      border: 1px solid transparent;

      &:focus {
        outline: none;
      }
    }

    .w-full-name,
    .w-phone-number {
      margin-top: 2rem;
    }

    .submit-form-btn {
      background-color: transparent;
      border: 2px solid $c-yellow;
      border-radius: 25px;
      font: 1.4rem/2rem $f-semibold;
      color: $c-yellow;
      letter-spacing: 1px;
      padding: 0.9rem 1.5rem;
      width: 200px;
      display: block;
      margin: 3rem auto 0;
    }

    .full-name-field.err,
    .number-field.err {
      border: 1px solid $c-red;
    }

    .err-msg {
      font: 1.2rem $f-light;
      margin-top: 1rem;
      color: $c-red;
    }

    .success-msg {
      background-color: $c-gray-50;
      padding: 2rem;
      display: none;
      margin-top: 4rem;

      p {
        font: 1.4rem/2rem $f-light;
        color: $c-black;
        text-align: center;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(11, 11, 11, 0.75);
}
