@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.service-overview-wrapper {
  section:first-child {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.5),
        transparent 23%
      ),
      linear-gradient(to top, #0b0b0b 1%, rgba(32, 32, 32, 0.14) 98%),
      url('../images/phd-services-bg.png');
    @include hero-section-bg;

    .w-container {
      @include hero-container;

      @include breakpoint(sm-screen) {
        padding: 175px 16% 75px;
      }

      @include breakpoint(md-lg-screen) {
        padding: 220px 30px 100px;
      }
    }

    .hero-section {
      .heading {
        @include hero-heading;

        @include breakpoint(sm-screen) {
          font: 4.8rem/50px $f-bold;
        }

        @include breakpoint(md-lg-screen) {
          font: 6rem/65px $f-bold;
          width: 546px;
          margin: 0 auto;
        }

        @include breakpoint(lg-screen) {
          width: 705px;
        }
      }

      .description {
        @include hero-description;

        @include breakpoint(md-lg-screen) {
          width: 546px;
          margin: 15px auto 0;
        }

        @include breakpoint(lg-screen) {
          width: 705px;
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: $c-gray-850;

    .service-details + .service-details {
      margin-top: 5px;

      @include breakpoint(md-lg-screen) {
        margin-top: 0;
      }
    }

    .service-details {
      @include breakpoint(md-sm-screen) {
        display: grid;
        justify-content: center;
        padding: 0 30px;
      }

      @include breakpoint(md-lg-screen) {
        display: grid;
        grid-template-columns: 354px 354px;
        grid-template-rows: 222px;
        justify-content: center;

        &:nth-child(even) {
          grid-template-areas: 'image service';
        }

        &:nth-child(odd) {
          grid-template-areas: 'service image';
        }
      }

      @include breakpoint(lg-screen) {
        grid-template-columns: 466px 466px;
        grid-template-rows: 270px;
      }

      .w-container {
        @include service-container;
        background-color: $c-yellow;

        @include breakpoint(md-sm-screen) {
          width: 707px;
        }

        @include breakpoint(md-lg-screen) {
          width: 100%;
          grid-area: service;
          grid-template-rows: 32px;
          align-items: flex-start;
          padding: 30px;

          &:nth-child(odd) {
            background-color: $c-black-900;
          }

          grid-template-areas:
            'name arrow'
            'desc desc';
        }
      }

      .service-name {
        font: 1.6rem/32px $f-bold;
        color: $c-gray-850;
        padding: 25px 0 25px 30px;

        @include breakpoint(md-lg-screen) {
          grid-area: name;
          font: 2.6rem/32px $f-bold;
          color: $c-yellow;
          padding: 0;
        }
      }

      .description {
        display: none;

        @include breakpoint(md-lg-screen) {
          display: block;
          grid-area: desc;
          font: 1.6rem/30px $f-light;
          color: $c-gray-200;
          margin-top: 1rem;
        }
      }

      .arrow-right {
        @include service-arrow-right;

        @include breakpoint(md-lg-screen) {
          background-image: url('../images/arrow-right-yellow.png');
          grid-area: arrow;
          align-self: center;
          justify-self: flex-end;
        }
      }

      .gatsby-image-wrapper {
        display: none;

        @include breakpoint(md-lg-screen) {
          display: block;
          grid-area: image;
        }
      }
    }
  }
}
