@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.yellow-background {
  background-color: $c-yellow-500;

  .w-container {
    padding: 75px 30px;

    @include breakpoint(sm-screen) {
      padding: 100px 12.5%;
    }
  }

  .testimonial {
    text-align: center;

    .quote {
      font: 2.8rem/32px $f-semibold-it;
      font-weight: 600;
      color: $c-gray-850;
      letter-spacing: 2px;

      @include breakpoint(sm-screen) {
        font: 4rem/46px $f-semibold-it;
        font-weight: 600;
      }

      @include breakpoint(md-sm-screen) {
        width: 546px;
        margin: auto;
      }

      @include breakpoint(lg-screen) {
        width: 690px;
      }
    }

    .client {
      font: 1.6rem/27px $f-regular;
      color: $c-black;
      margin-top: 30px;
      text-transform: uppercase;
    }
  }
}
